<launch>
<group ns = "random_number">

  <arg name="num_gen_type" value="1" />

  <node name= "number_multiplier_node" pkg= "ros_arithmetic" type= "ros_arithmetic" output="screen" respawn="false"/>

  <node name= "random_number_generator_node" pkg= "ros_number_generator" type= "ros_number_generator" output="screen" respawn="false" args='-num_gen_type $(arg num_gen_type)'/>
	<rosparam param="frequency">[0.5]</rosparam>

  <node pkg='rqt_plot' name='rqt_plot' type='rqt_plot' args='/random_number/random_number_srand'/>

  <node pkg='rqt_console' name='rqt_console' type='rqt_console'/>

  <node pkg='rqt_graph' name='rqt_graph' type='rqt_graph'/>

  <node pkg= 'rqt_gui' name='rqt_gui' type='rqt_gui'/>

 </group>

</launch>
