<launch>
<group ns = "random_number">
  <node name= "number_multiplier_node" pkg= "ros_arithmetic" type= "ros_arithmetic" output="screen" respawn="false"/>

  <node name= "random_number_generator_node" pkg= "ros_number_generator" type= "ros_number_generator" output="screen" respawn="false"/>
	<rosparam param="frequency">[0.5]</rosparam>
</group>

</launch>
